h1{
    background-color:pink;
}

marquee{
    color:blue;
}

h3{
    font-family: 'Courgette';
    color:#eb4034;
}

li{
    font-family: 'Montserrat Alternates', sans-serif;
}

p{
    font-family: 'Slabo 13px', serif;
}

img{
    width:700px;
}

.purple{
    color:#e66bff;
}

.blue{
    color:#6b86ff;
}

.orange{
    color:#ffa46b;
}

.pink{
    color:#ff6bc9;
}

.green{
    color:#6bff7a;
}













